# Network Data Science with NetworkX and Python

## Load graphs from Excel spreadsheet files

In [1]:
from random import sample
import networkx as nx
import pandas as pd

In [2]:
link = ('https://github.com/dnllvrvz/Social-Network-Dataset/raw/master/Social%20Network%20Dataset.xlsx')

In [3]:
network_data = pd.read_excel(link, sheet_name = ['Elements', 'Connections'])

In [4]:
elements_data = network_data['Elements']
connections_data = network_data['Connections']

In [5]:
connections_data.head(10)

       From        To    Type  Weight    When
0  S-c1b610  S-7d9053   Other     1.0  2012.0
1  S-4985b3  S-e7dad4  School     1.0  2015.0
2  S-376418  S-ab3070  School     1.0  2012.0
3  S-d00f38  S-6e1f64  School     1.0  2016.0
4  S-e538e3  S-596786   Other     1.0  1994.0
5  S-aef13c  S-92a998  School     1.0  2017.0
6  S-ee8774  S-9ea98c  School     1.0  2015.0
7  S-8b51fe  S-cd7ec7  School     1.0  2007.0
8  S-21cce5  S-36208c   Other     1.0  2015.0
9  S-359c63  S-a435b9  School     1.0  2006.0

In [6]:
edge_cols = ['Type', 'Weight', 'When']

graph = nx.convert_matrix.from_pandas_edgelist(connections_data,
                                               source = 'From',
                                               target = 'To',
                                               edge_attr = edge_cols)

In [7]:
sampled_edges = sample(graph.edges, 10)

In [8]:
graph.edges[sampled_edges[0]]

{'Type': nan, 'Weight': 0.4, 'When': 2016.0}

In [9]:
elements_data.head(10)

      Label     Type  School (ID) Answered the form
0  S-c1b610  Student           27               Yes
1  S-4985b3  Student           25               Yes
2  S-376418  Student           67               Yes
3  S-d00f38  Student           24               Yes
4  S-e538e3  Student           30               Yes
5  S-aef13c  Student           26               Yes
6  S-ee8774  Student           27               Yes
7  S-8b51fe  Student           58               Yes
8  S-21cce5  Student           27               Yes
9  S-359c63  Student           49               Yes

In [10]:
node_dict = elements_data.set_index('Label').to_dict(orient = 'index')
nx.set_node_attributes(graph, node_dict)

In [11]:
sampled_nodes = sample(graph.nodes, 10)

In [12]:
graph.nodes[sampled_nodes[0]]

{'Type': 'Student', 'School (ID)': 4, 'Answered the form': 'Yes'}